html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  section.new-tweet {
      padding-left:2em;
      padding-right:2em;
      background-color: rgb(211, 208, 208);
      margin-left: 28px;
      margin-right: 28px;
      border-radius: 6px;
      
      }

  h2 {
    width:100%;
    border-bottom: solid 1.2px rgb(19, 17, 17);
    
  }

  textarea {
    width: 100%;
    padding-left:0.5em;
  }
  
  span.counter {
    float: right;
  }