html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section.new-tweet {
  padding-left:1em;
  padding-right:1em;
  background-color: rgb(211, 208, 208);
  margin-left: 28px;
  margin-right: 28px;
  border-radius: 6px;
  margin-bottom: 30px;
  
}

h2 {
  width:100%;
  padding-top: 15px;
  border-bottom: 1px solid black;
  
  
}

textarea {
  width: 100%;
  padding-left:0.5em;
}

span.counter {
  float: right;
}

section#tweet-container {
  padding-left:2em;
  padding-right:2em;
  
  
}

article {

  border: 1px solid rgb(161, 157, 157);
  border-radius: 6px; 
  margin-bottom: 15px;
}

img {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  float: left;
  margin: -10px -70px 13px 0px;
}


header {
  margin-bottom: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

article header .username {
  font-size: 10px;
  line-height: 30px;
  vertical-align: middle;
}

p.alignleft {
  float:left;
  padding-left: 65px;
  font-weight: 1000;
  

}
p.alignright {
  float:right;
  padding-right: 8px;
}

p.body-a {
  padding-left: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer.tweet-f {
  padding-left: 8px;
  margin-bottom: 10px;
  border-top: 1px solid rgb(190, 185, 185);
  padding-top: 5px;
  font-size: 12px;

}

article:hover {
  filter: brightness(90%);
  color: black;

}

article.tweet footer i {
  visibility: hidden;
  float: right;
  color: rgb(51, 192, 157);
}

article.tweet:hover footer i {
  visibility: visible;
}

.tweet-h {
  background-color:rgb(211, 208, 208);
}

.div-clear {
  clear: both;
}

input {
  margin-bottom: 20px;
  margin-top: 2px;
}

main.containter {
  display: flex;
  flex-flow: column;

 
}

  
